@model Upravljalec_Nalog.Models.NalogaDto

@{
    ViewData["Title"] = "Izbriši";
}

<h1>Izbriši</h1>

<h3>Ali ste prepričani da želi izbrisati to nalogo?</h3>
<div>
    <h4>Naloga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZacetniDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZacetniDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KoncniDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoncniDatum)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
