@model Upravljalec_Nalog.Models.NalogaDto

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>Podrobnosti</h1>

<div>
    <h4>Naloge</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZacetniDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZacetniDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KoncniDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoncniDatum)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Spremeni</a> |
    <a class="btn btn-primary" asp-action="Index">Nazaj na seznam</a>
</div>
