@model IEnumerable<Upravljalec_Nalog.Models.NalogaDto>

@{
    ViewData["Title"] = "Seznam";
}


<div class="text-center mx-auto">
    <h2 class="mb-4">Seznam nalog</h2>
<p>
    <a asp-action="Create" class="btn-lg btn-primary">Ustvari</a>
</p>
</div>

<table class="table table-ms" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZacetniDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoncniDatum)
            </th>
            <th ></th> 
            <th></th> 
            <th></th> 
            
        </tr>
    </thead>
    <tbody style="overflow-x:scroll">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZacetniDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KoncniDatum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a> 
                 
                
            </td>
            
            <td>
<a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
            </td>
            
            <td >
<a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
